# Text Mining

### Load data and check data

In [2]:
rawData = open("SMSSpamCollection.tsv").read()
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [4]:
import pandas as pd
Data = pd.read_csv('SMSSpamCollection.tsv', sep='\t', names=['Label', 'Mail_text'])
Data.head()

  Label                                          Mail_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [5]:
len(Data['Mail_text'])

5568

In [6]:
Data.isnull().sum()

Label        0
Mail_text    0
dtype: int64

In [7]:
Data['Label'].unique()

array(['ham', 'spam'], dtype=object)

In [8]:
Data['Label'].value_counts()

ham     4822
spam     746
Name: Label, dtype: int64

## Data Preprocessing

In [10]:
#Removing Puntuation
import string
import nltk
#Define function
def remove_punctuation(text):
    text_nopunct = "".join(char for char in text if char not in string.punctuation)
    return text_nopunct
#Add new column
Data['Mail_text_clean'] = Data['Mail_text'].apply(lambda x : remove_punctuation(x))
Data.head()

,Label,Mail_text,Mail_text_clean
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

In [12]:
#Regular Tokenization
from nltk.tokenize import RegexpTokenizer
def tokenise(text):
    tokenizer = RegexpTokenizer("[\w']+")
    tokens = tokenizer.tokenize(text)
    return tokens
Data['Mail_text_tokenised'] = Data['Mail_text_clean'].apply(lambda x : tokenise(x))
Data.head()

,Label,Mail_text,Mail_text_clean,Mail_text_tokenised
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[Ive, been, searching, for, the, right, words,..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, dont, think, he, goes, to, usf, he, l..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[Even, my, brother, is, not, like, to, speak, ..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]"

In [ ]:
#Removing stopwords
stopword = nltk.corpus.stopwords.words("english")